template
  require(from='./assets/css/file-manager.scss')
  require(from='../file-type/file-type')
  require(from='../folder-type/folder-type')
  div
    .file-manager(if='!this.hidden')
      .window-widget.file-manager-app
        .titlebar(data-url='${this.actualUrl}')
          #{'for'}(each="path,$indx in this.actualUrl.split('/')")
            span.title-label(data-href='${$indx}', click.trigger='this.setDirectory') ${($indx > 0?' - ':'') + path}
          span.title-button.pull-right.close(click.trigger='this.close')
          span(click.trigger='this.showSearch', class="${'title-button pull-right search '+(this.inSearch?'is-pressed':'')}")
        .contents         
          .full-height
            .full-width
              input.search-file(
                if='this.inSearch'
                , placeholder='...search here!'
                , keyup.trigger='this.setTerm'
                , type='text'
              )
            folder-type(
                each='folder in this.folders'
              , key:id='${folder.name}'  
              , path='${folder.path}'
              , name='${folder.name}'
            )
            file-type(
                each='file in this.files'
              , key:id='${file.name}'  
              , path='${file.path}'
              , name='${file.name}'
              , extension='${file.extension}'
            )
        .status-bar
          span teste de texto!